img {
    border-radius: 2rem;
    max-width: 85%;
    height: auto;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.header a {
    flex: 1;
    color:black;
    font-size: 1.5em;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

.buttonBox button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.imageBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageBox h1 {
    position: absolute;
    top: 0;
    left: 0;
}