.card {
    align-items: center;
    width: 23.4rem;
    height: 11rem;
    border: 0.18rem solid black;
    border-radius: 15px;
    margin: 0rem;
    margin-bottom: 1.5rem;
}

.card h1 {
    font-size: xx-large;
}

.card h2 {
    text-align: center;
    margin: 0rem;
}